html {
    background-color: rgb(29, 8, 8);
    color: #fff;
    font-family: sans-serif;
    line-height: 1.4;
  }

.tsbrhd1 {
    background-color:rgb(114, 16, 5);
    color: rgb(226, 232, 152);
}


.tsbrdiv1 {
  background-color:rgb(252, 251, 251);
  color: rgb(201, 14, 14);
  line-height: 1.8;
}